{% extends 'layout/base.html' %}


{% block content %}

<h1 class="text-dark">Last Product Usage</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Project</th>
                <th>Technique</th>
                <th>Mobile Phase A</th>
                <th>Mobile Phase B</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ usage.column.reference }}</td>
                <td>{{ usage.project }}</td>
                <td>{{ usage.technique }}</td>
                <td>{{ usage.mobile_phase_a }}</td>
                <td>{{ usage.mobile_phase_b }}</td>
                <td>{{ usage.date }}</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}