{% extends 'layout/base.html' %}


{% block content %}

<h1 class="mt-4 text-dark">Product Details</h1>
<div id="select_content">
    <table class="table">
        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Reference</th>
                <th>Supplier</th>
                <th>Dimension</th>
            </tr>
        </thead>
        <tbody>
            {% for column in columns %}
            <tr>
                <td>
                    <a class="text-dark" href="{{ url_for('product_usage', column_id=column.sn) }}">
                    {{ column.sn }}
                    </a>
                </td>
                <td>
                    <a class="text-dark" href="{{ url_for('product_usage', column_id=column.sn) }}">
                    {{ column.reference }}
                    </a>
                </td>
                <td>
                    <a class="text-dark" href="{{ url_for('product_usage', column_id=column.sn) }}">
                    {{ column.supplier }}
                    </a>
                </td>
                <td>
                    <a class="text-dark" href="{{ url_for('product_usage', column_id=column.sn) }}">
                    {{ column.dimension }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}