
<h1 class="text-dark pb-4">User Registration</h1>
    <form method="POST">
    {{ Userform.hidden_tag() }}
        <div>
            <div class="col-md-12">
                <div>
                    {{ printPlaceholder(Userform.name) }}
                </div>
                <br>
                <div>
                    {{ printPlaceholder(Userform.employee_id) }}                        
                </div>
            </div>

            <div class="col-12 col-md-12 mt-4 mx-auto">
                {{ Userform.submit(class_="btn btn-primary") }}
            </div>
        </div>
    </form>